/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
h1{
    font-family: 'Viga', sans-serif;
    font-size: xx-large;

}
h2{
    font-family: 'Viga';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 0%;
/* or 0px */

display: flex;
align-items: center;

}
h3{
    font-family: 'Viga', sans-serif;
    font-size: x-large;
}
h4{
    font-family: 'Viga', sans-serif;
    font-size: medium;
}
a{
    font-family: 'Viga', sans-serif;
    font-size: small;
}
